@charset "utf-8";
* {
  box-sizing: border-box;
}
/*---------------ヘッダー部分---------------*/
body {
  font-family:'Lucida Console', sans-serif;
  text-align: center;
}
a {
  text-decoration: none;
  color: black;
}
header,
.pure,
.here,
.playback,
.quote {
  background-position: center;
}
header {
  background-image: url(../img/banner.jpg);
  height: 900px;
  color: white;
  position: relative;
}
.common-format {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap {
  margin: 0 400px;
}
.wrap img {
  position: relative;
  top: 170px;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .wrap {
    margin: 0 170px;
  }
}
.wrap1 {
  padding: 140px 400px;
}
.hamberger {
  color: rgb(231, 86, 19);
  position: absolute;
  top: 60px;
  left: 50px;
}
.headline {
  white-space: nowrap;
  font-size: 1.5rem;
  color: black;
  margin-bottom: 120px;
  font-weight: 900;
  position: relative;
}
.headline::after {
  content: '';
  position: absolute;
  bottom: -60px;
  left: 38%;
  width: 24%;
  height: 1px;
  background-color: black;
}
header .headline {
  color: white;
}
.headline-color::after {
  background-color: white;
}
.text{
  font-weight: 800;
  line-height: 30px;
}
/*---------------ここまでヘッダー部分---------------*/
/*---------------メイン---------------*/
/**************introduction***********/
@media screen and (min-width:375px) and (max-width:1500px){
  .wrap1 {
    padding: 190px 60px;
  }
}
/**************pure*******************/
.pure {
  background-image: url(../img/lepy.jpg);
  height: 500px;
}
.common-format1 {
  border: 2px solid white;
  font-weight: 700;
  font-size: 1.5em;
  padding: 20px 30px;
  color: white;
}
/***************SOME OF OUR WORK**************/
.common-format2 {
  padding: 200px 100px;
}
.work .common-format {
  margin: 10px 200px;
}
.work li {
  width: calc(92%/5);
  opacity: 0.5;
  margin-bottom: 10px;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .work .common-format {
    flex-wrap: wrap;
    margin: 0;
    justify-content: space-around;
  }
  .work li {
    width: calc(100%/3);
    font-size: 12px;
    font-weight: bold;
  }
}
.work .thumbnail {
  flex-wrap: wrap;
  margin: 0 200px;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .work .thumbnail {
    margin: 0 ;
  }
}
.thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}
.work .thumbnail-item {
  width: calc(96%/3);
  margin-right: 2%;
  margin-bottom: 4%;
  position: relative;
}
.work .thumbnail-item:nth-child(3n) {
  margin-right: 0;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .work .thumbnail-item,
  .work .thumbnail-item:nth-child(3n) {
    width: calc(98%/2);
    margin-right: 2%;
  }
  .work .thumbnail-item:nth-child(even) {
    margin-right: 0;
  }
}
.work img {
  width: 100%;
  height: 100%;
}
.mask.hidden {
  display: none;
}
.mask {
  background-color: rgba(0,0,0,.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  transition: .1s;
  border: 10px solid black;
}
.modal {
  display: none;
}
.modal.show {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  transition: .1s;
  transform: translate(-50%,-50%);
}
.modal p {
  margin: 0 auto;
}
/*****************here**************/
.common-format3 {
  border: 3px solid black;
  height: 50px;
  line-height: 50px;
  width: 50%;
  margin: 0 auto;
}
.here {
  background-image: url(../img/helo.jpg);
  height: 500px;
}
/******************clients**********/
.clients {
  background-color: rgba(240, 235, 235, 0.89);
}
@media screen and (min-width:375px) and (max-width:1500px){
  .clients .thumbnail {
    flex-wrap: wrap;
  }
}
.clients .thumbnail-item {
  width: calc(70%/5);
  margin-right: 5%;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .clients .thumbnail-item {
    width: calc(90%);
    margin-right: 0;
    margin-bottom: 15%;
  }
}
.clients .thumbnail:last-child,
.clients .thumbnail-item:last-child {
  margin-right: 0;
}
/******************about*************/
.about .thumbnail,
.choose .thumbnail {
  margin: 50px 50px;
}
.about .thumbnail-item {
  width: calc(75%/4);
  margin-right: 2%;
  height: 350px;
}
.about .thumbnail-item:last-child {
  margin-right: 0;
}
.about .headline {
  white-space: normal;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .about .thumbnail {
    flex-wrap: wrap;
  }
  .about .thumbnail-item {
    width: calc(98%/2);
    margin-bottom: 4%;
    margin-right: 2%;
  }
  .about .thumbnail-item:nth-child(2n) {
    margin-right: 0;
  }
  .about .headline {
    margin-bottom: 120px;
  }
}
.about .thumbnail-item:last-child {
  margin-right: 0;
}
.about .common-format {
  border: 2px solid black;
}
/*******************PLAYBACK************/
.playback {
  background-image: url(../img/video.jpg);
  height: 500px;
}
/*******************choose***********/
.choose .thumbnail-item {
  width: 100%;
  margin: 0 2%;
}
.choose .thumbnail-item:last-child {
  margin-right: 0;
}
.thumbnail-item-setting {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
}
.headline1 {
  font-weight: 800;
  height: 60px;
  font-size: 20px;
  margin: 30px 0;
}
#slider>button,
#slider>button {
  display: none !important;
}
#slider .slick-dots li {
  display: inline-block;
}
#slider .slick-dots li button {
  position: relative;
  text-indent: -9999px;
  width: 40px;
  height: 40px;
  overflow: visible;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}
#slider .slick-dots li button::before {
  cursor: pointer;
  display: block;
  content: '';
  position: absolute;
  top: 13px;
  left: 13px;
  border-radius: 50%;
  background: rgb(156, 128, 128);
  width: 8px;
  height: 8px;
}
#slider .slick-dots .slick-active button::before {
  background: #000;
}
/**************quote*******************/
.quote {
  background-image: url(../img/quotes.jpg);
  height: 500px;
}
/*---------------ここまでメイン---------------*/
/*---------------フッター---------------*/
footer {
  text-align: left;
}
.wrap2 {
  display: flex;
  min-height: 400px;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .wrap2 {
    display: block;
  }
  .location,
  .form {
    min-width: 100%;
  }
}
.location-center {
  margin: 5% 33%;
}
.outer-location-center {
  margin: 5% 2%;
}
.location {
  background-color: rgb(250, 243, 243);
  width: 40%;
  line-height: 30px;
  font-size: 1.3em;
}
.footer .headline1 {
  margin-left: 0;
  color: rgb(150, 137, 137);
}
.share {
  display: flex;
  justify-content: space-between;
  min-width: 100px;
  margin-top: 20px;
}
.outer-location {
  width: 60%;
  background-color: rgba(218, 206, 206, 0.842);
}
.form {
  position: relative;
}
.form:after {
  content: "";
  display: block;
  clear: both;
}
.input {
  border: none;
  background-color: rgba(218, 206, 206, 0.842);
  width: calc(93%/2);
  margin-right: 6%;
  margin-bottom: 50px;
  border-bottom: solid 1px black;
  height: 42px;
}
@media screen and (min-width:375px) and (max-width:1500px){
  .input {
    width: calc(100%);
    margin-right: 0;
  }
  .outer-location {
    width: 100%;
  }
}
.input:nth-child(2) {
  margin-right: 0;
}
.message {
  width: calc(100%);
}
.send {
  float: right;
  background-color: rgba(218, 206, 206, 0.842);
}
.common-format4 {
  border: 1px solid black;
  padding: 10px 30px;
  font-weight: 800;
}
.samir {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: black;
  text-align: center;
}
.samir img {
  display: block;
  margin-bottom: 20px;
}
.samir small {
  color: white;
  line-height: 30px;
  font-size: 14px;
}
.orange {
  color: rgb(231, 86, 19);
  display: inline;
}
/*---------------ここまでフッター部分---------------*/