@charset "utf-8";
html {
  font-size: 62.5%;
}
body {
  background: #ddecf8;
}
* {
  box-sizing: border-box;
}
.wrap {
  max-width: calc(1280 / 1920 * 100%);
  margin: 50px auto;
  font-size: 2em;
  text-align: center;
}
.header {
  background: #bfbfdd;
  padding: 3em 0;
}
.left,
.right {
  padding: 5em 1em;
}
.left {
  background: #f8ddc7;
  float: left;
}
.right {
  background: #eb6464;
  float: right;
}
.cf::after {
  clear: both;
  display: block;
  content: "";
}
.footer {
  background: #6767f0;
  padding: 3em 0;
}
