@charset "utf-8";
html{
  font-size: 62.5%;
}
body{
  background: #f0f8ff;
}
*{
  box-sizing: border-box;
}
.wrap{
  max-width: calc(1280 / 1920 * 100%);
  font-size: 0;
  margin: 50px auto;
  text-align: center;
}
.nav{
  background: #c398db;
  display: inline-block;
  vertical-align: middle;
  width: 30%;
  font-size: 2rem;
}
a{
  color :#904cb4;
}
.column{
  background: #7fcca5;
  display: inline-block;
  vertical-align: middle;
  width: 70%;
  font-size: 2rem;
}