<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="utf-8">
  <title>3カラム応用</title>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <!-- リセットCSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="CSS/style.css" rel="stylesheet">
</head>

<body>
  <header class="header">
    <p>ロゴ画像</p>
  </header>
  <main class="main">
    <section class="left_side">
      <ul>
        <li><a href="">item1</a></li>
        <li><a href="">item2</a></li>
        <li><a href="">item3</a></li>
        <li><a href="">item4</a></li>
        <li><a href="">item5</a></li>
        <li><a href="">item6</a></li>
        <li><a href="">item7</a></li>
        <li><a href="">item8</a></li>
        <li><a href="">item9</a></li>
        <li><a href="">item10</a></li>
      </ul>
    </section>
    <section class="center">
      <div class="text">
        <ul>
          <li>テキストテキストテキストテキスト</li>
        </ul>
        <ul>
          <li>テキストテキストテキストテキスト</li>
        </ul>
        <ul>
          <li>テキストテキストテキストテキスト</li>
        </ul>
        <ul>
          <li>テキストテキストテキストテキスト</li>
        </ul>
      </div>
      <div class="subtitle">
        <ul>
          <li>サブタイトル</li>
        </ul>
        <ul>
          <li>product1</li>
          <li>product2</li>
          <li>product3</li>
          <li>product4</li>
        </ul>
      </div>
      <div class="subtitle">
        <ul>
          <li>サブタイトル</li>
        </ul>
        <ul>
          <li>product1</li>
          <li>product2</li>
          <li>product3</li>
          <li>product4</li>
        </ul>
      </div>
    </section>
    <section class="right_side">バナー画像</section>
  </main>
  <footer class="footer">Copyright (C) 2018 テキストテキストテキストテキストテキスト</footer>
</body>

</html>